:root {
    --maroon: #5e030a;
    --white: #f2f2f2;
    --gold: #ffcd4b;
    --gold-hover: #c69925;
    --green: #1bbc3f;
    --red: #bc381b;
    --white-hover: #bababa;
  
    --header1: 36px;
    --header2: 32px;
    --header3: 24px;
    --subheader1: 20px;
    --subheader2: 16px;
    --subheader3: 14px;
    --subheader4: 12px;
  }

  @media only screen and (max-width: 767px) {
                
    .logo-section {
        margin: 10px 0 0 10px;
        gap: 5px;
    }
    
    .header-title {
        font-size: var(--subheader3);
    }

    .logo {
        width: 30px;
        height: 100%;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .info-section {
        position: absolute !important;
    }

    .user-info-admin {
      margin-bottom: 10px;
    }

    .avatar-admin {
      margin: 20px 10px 0 22px !important;
      width: 40px !important;
      height: 40px !important;
    }

    .avatar {
      margin: 40px 10px 0 22px !important;
      width: 40px !important;
      height: 40px !important;
    }

    .info-bold {
      margin-top: 30px;
      margin-bottom: 8px;
        font-size: 10px;
    }

    .info-text {
        margin-bottom: 8px;
        font-size: 8px;
        line-height: 2px;
    }

    .en-status {
      font-size: 10px;
    }

    .body-container {
        flex-wrap: nowrap;
        flex-direction: column;
        row-gap: 20px;
    }

    .so-btn {
      width: 65px !important;
      height: 30px !important;
      font-size: 8px !important;
    }

    .menu a {
      font-size: var(--subheader4) !important;
    }

    .menu-principal {
      height: 273px !important;
    }

    .menu-pdo {
      height: 396px !important;
    }

    .analytic-dashboard {
      width: 400px !important;
      max-width: 400px !important;
    }

    
    #filterSection {
      column-gap: 30px !important;
    }
    
    .form-select {
      width: 80px !important;
      height: 30px !important;
      font-size: 12px
    }

    #filterSection .form-label  {
      font-size: 12px;
    }

    .bar-chart {
      width: 352px !important;
      max-height: 500px !important;
    }

    #averageSubjectBarChart {
      max-height: 500px;
    }

    .analytic-scroll {
      width: 400px !important;
    }

    .recommendation-container {
      width: 352px !important;
    }

    .footer-img {
      column-gap: 40px !important;
    }

    .footer-img img {
      width: 70px;
      height: 70px;
    }

    .footer-info {
      margin: 0 15px 15px 15px;
      column-gap: 20px !important;
    }

    .footer-info li {
      font-size: 12px;
    }

    .modal-body {
      overflow-x: scroll;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .logo-section {
    margin: 10px 0 0 20px;
    gap: 5px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }

  .header-title {
    font-size: 28px;
    margin: 10px 10px 10px 0;
  }

  .user-info {
    margin-top: 20px;
  }

  .info-bold {
    font-size: var(--subheader2);
  }

  .info-text {
    font-size: var(--subheader4);
    line-height: 3px;
  }

  .en-status {
    font-size: var(--subheader3);
  }

  .menu {
    width: 280px;
  }

  .mv-body {
    margin-left: 115px;
  }

  .mv-scroll {
    width: 400px;
  }
  
  .announcement-body {
    margin-top: 16px;
  }
  
  .announcement-scroll {
    width: 696px;
  }

  .analytic-container {
    width: 500px !important;
  }

  .footer-info {
    margin: 0 15px 15px 15px;
    column-gap: 20px !important;
  }

  .footer-info li {
    font-size: 12px;
  }

  .modal-body {
    overflow-x: scroll;
  }
}
  
  * {
    margin: 0;
    font-family: "Montserrat";
  }
  
  /* Menu Style */
  .menu {
    background-color: var(--maroon);
  }
  
  .menu-btn {
    min-height: 100px;
    background-color: var(--white);
    color: var(--black);
    border: none;
    font-size: var(--subheader2);
    font-weight: bold;
    text-align: left;
  }
  
  .menu-btn:hover {
    background-color: var(--white-hover);
  }
  
  .menu-icon {
    font-size: 2.5rem;
  }
  
  .ph-icon {
    font-size: 3rem;
  }
  
  /* Mission and Vision Style */
  .mission-vision {
    background-color: var(--maroon);
  }
  
  .mission-title,
  .vision-title {
    color: var(--gold);
    font-size: var(--header3);
    font-weight: bold;
  }
  
  .mission-text,
  .vision-text {
    font-size: var(--subheader3);
    background-color: var(--white);
    color: var(--black);
  }
  
  .expand {
    color: var(--white);
  }
  
  /* Announcement */
  .mv-scroll,
  .announcement-scroll {
    background-color: var(--maroon);
  }
  
  .announcement-section {
    background-color: var(--white);
  }
  
  .announcement-title {
    color: var(--gold);
    font-size: var(--header3);
    font-weight: bold;
  }
  
  .announcement-text,
  .name-text {
    font-size: var(--subheader3);
    color: var(--black);
  }
  .hidden {
    display: none;
  }
  .main-con.hidden {
    display: none;
  }
  .main-con {
    display: flex;
    width: 70%;
    gap: 10px;
    background: #5e030a;
    border-radius: 1rem;
    flex-direction: column;
  }

  