:root {
    --maroon: #5E030A;
    --white: #F2F2F2;
    --gold: #FFCD4B;
}

body {
    background-color: var(--white);
}

.card {
    max-width: 450px; /* Control the overall width */
    width: 100%;
}

.card-img-top {
    z-index: 0;
}
  
.card-body {
    background-color: var(--maroon);
    padding: 5% 0 5% 0; /* Reduced from 8% to 5% */
}

.bi-lock, .bi-person {
    font-size: 1rem;
}

.mb-3 {
    margin: 0 8vw; /* Reduced from 10vw to 8vw */
}

h1 {
    font-size: 1.5rem; /* Smaller heading */
    margin-bottom: 1.5rem !important;
}
  
.text-light {
    color: var(--white) !important;
    font-size: 12px;
}

a {
    padding-left: 8px;
}

  
.btn-warning {
    background-color: var(--gold);
    border-color: var(--gold);
    color: var(--white);
    width: 126px;
    height: 35px;
    padding: 5px;
    border-radius: 20px;
}